.shutdown-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--purple-200);
    color: var(--white);
}

.shutdown-window> h2 {
    background-color: var(--purple-400);
    width: 100%;
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}