.pc-page > header {
    max-width: 1920px;
    width: 100%;
    height: 4rem;
}

.header-box {
    height: 100%;
    background-color: var(--purple-400);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-box .user-icon {
    display: flex;
    gap: 1rem;
    border: 0.1rem solid transparent;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.header-box .user-icon:hover {
    cursor: var(--pointer);
    border: 0.1rem solid var(--white);
    background-color: var(--purple-200);
}

.header-box .user-icon img {
    width: 2.4rem;
}

.header-box .user-icon span {
    margin-top: 0.3rem;
}

.header-box > * {
    display: flex;
    align-items: center;
}

.header-box nav {
    flex-grow: 1;
}

.header-box nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
}

.header-box nav li {
    max-width: 20rem;
    flex-grow: 1;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--purple-300);
    border: 0.2rem solid var(--purple-400);
    border-radius: 0.4rem;
    margin: 0.2rem;
}
.header-box nav li:hover {
    cursor: var(--pointer);
    border: 0.2rem solid var(--white);
}

.header-box nav li img {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 0.6rem;
}

.header-box nav li .filename-container {
    width: 100%;
    margin: 0.4rem 0 0 0;
    overflow: hidden;
}

.header-box nav li .filename-container > div {
    white-space: nowrap;
    text-transform: capitalize;
}

.header-box nav li button{
    font-family: "DOA-8Bit-Mage";
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    /* border-left: 0.6rem solid var(--purple-300); */
    border-radius: 0.4rem;
    cursor: var(--pointer);
    color: var(--white);
    padding: 0.5rem 0.5rem 0.1rem 0.6rem
}
.header-box nav li button:hover{
    background-color: var(--purple-200);
}

.notification-area {
    gap: 1.6rem;
}

.notification-area > div > img {
    width: 3rem;
    height: 3rem;
}
.notification-area .date-time {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.notification-area .time {
    display: flex;
    justify-content: space-between;
}
