.folder-path-icon {
    display: inline-block;
    margin-right: 1rem;
    width: 2rem;
    height: 1.6rem;
}
.folder-path-icon > div:nth-child(1){
    background-color: var(--yellow);
    width: 60%;
    height: 0.4rem;
    border-bottom: 0.1rem solid var(--purple-200);
    border-radius: 0.2rem 0.2rem 0 0;
}
.folder-path-icon > div:nth-child(2){
    background-color: var(--yellow);
    width: 100%;
    height: 1.2rem;
    border-radius: 0 0.2rem 0.2rem 0.2rem;
}
    