.table-window {
    position: absolute;
    width: 78rem;
    height: 56rem;
    background-color: transparent;   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--purple-200);
    box-shadow: 0 4px 8px 0 var(--black);
    overflow: hidden;

}

.table-window-box {
    color: var(--white);
    border: 0.4rem solid var(--purple-400);
    max-height: 56rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.table-window-box header .title{
    padding: 0.8rem;
    background-color:  var(--purple-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}
.table-window-box header .title:active{
    cursor: grabbing;
}
.table-window-box header .title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
}

.table-window-box header .title-icon{
    width: 2.8rem;
    height: 2.4rem;
}
.table-window-box header .title-icon > div{
    width: 2.2rem;
    height: 2.4rem;
    background-color: var(--white);
    position: relative;
    top: -0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    padding: 0.5rem 0.3rem 0;
}
.table-window-box header .title-icon > div > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.1rem;
}
.table-window-box header .title-icon > div > div > div {
    width: 100%;
    height: 0.3rem;
    background-color: var(--purple-200);
}

.table-window-box header .title .button-container{
    display: flex;
    gap: 0.8rem;
}

.table-window-box header .title .button-container button{
    font-family: "DOA-8Bit-Mage";
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--white);
    border: 0.2rem solid var(--purple-200);
    border-radius: 0.4rem;
    display: flex;
    padding: 0.8rem 0.8rem 0.4rem 1rem;
    justify-content: center;
    align-items: center;
}
.table-window-box header .title .button-container button:hover{
    cursor: pointer;
    background-color: var(--purple-200);
}
.table-window-box header .title .button-container button:nth-child(2):hover{
    border: 0.2rem solid var(--red);
    background-color: var(--red);
}

.table-window-box header .subtitle{
    padding: 0.4rem 1rem;
    background-color: var(--purple-300);
    display: flex;
    gap: 2rem;
}

.table-window-box header .subtitle button{
    font-family: "DOA-8Bit-Mage";
    font-weight: normal;
    letter-spacing: 0.2rem;
    padding: 0.6rem 0.6rem;
    background-color: transparent;
    color: var(--white);
    border: 0;
    border-radius: 0.2rem;
    text-underline-offset: 2px;
}

.table-window-box header .subtitle button:hover{
    background-color: var(--purple-200);
    cursor: pointer;
    text-decoration: underline;
}

.table-window-box section{
    flex-grow: 1;
    color: var(--black);
    word-spacing: 1rem;
    text-align: left;
    line-height: 2.4rem;
    text-indent: 1.6rem;
    overflow: scroll;
}
.table-window-box footer{
    padding: 1rem 1rem 0.8rem;
    background-color: var(--purple-300);
    display: flex;
}

.table-window-box footer > div{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    gap: 0.3rem;
}
.table-window-box footer > div > span{
    background-color: var(--purple-300);
    padding: 0.3rem 2rem 0;
}


.skills-table{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--purple-100);
}

.skill-item {
    display: grid;
    flex-wrap: nowrap;
    background-color: var(--white);
    grid-template-columns: 3rem 22rem 32rem 22rem;
    grid-template-areas: "row-n icon name rating"
}
.row-n {
    grid-area: row-n;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--purple-400);
    padding: 0.4rem 1rem 0 0;
    background-color: var(--purple-200);
    border-top: 0.2rem solid var(--white);
    border-left: 0.2rem solid var(--white);
    border-right: 0.2rem solid var(--purple-400);
    border-bottom: 0.2rem solid var(--purple-400);
}

.column-n,
.element,
.empty,
.header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--purple-100);
    padding: 0.4rem;
    width: 100%;
    height: 100%;
    background-color: var(--salmon);
}
.element {
    background-color: #d1ceca;
}
.header {
    background-color: #b9b7b3;
    cursor: pointer;
}
.header:hover {
    background-color: var(--purple-200);
}

.column-n {
    color: var(--purple-400);
    padding: 0.4rem 1rem 0 0;
    background-color: var(--purple-200);
    border-top: 0.2rem solid var(--white);
    border-left: 0.2rem solid var(--white);
    border-right: 0.2rem solid var(--purple-400);
    border-bottom: 0.2rem solid var(--purple-400);
}

.icon {
    grid-area: icon;
}
.icon > img {
    height: 3rem;
    object-fit: contain;
}
.name {
    grid-area: name;
}
.rating {
    grid-area: rating
}

.skill-item a {
    text-decoration: none;
    color: var(--black);
}
.skill-item a:hover {
    text-decoration: underline;
}