@font-face {
    font-family: "DOA-8Bit-Mage";
    src: url("./fonts/DiaryOfAn8BitMage-lYDD.ttf") format("truetype");
}


:root {
    font-size: 10px;
    /* colors */
    --purple-400: #2c1b2d;
    --purple-300: #362238;
    --purple-200: #574b66;
    --purple-100: #9379c1;
    /* --salmon: #d2c0aa; */
    --salmon: #dcd2c5;
    --black: #0e0e0e;
    --white: #f9f4eb;
    --red: #ec4259;
    --green: #8de26a;
    --blue: #49c1f6;
    --yellow: #f5dc64;
    --orange: #c37550;
    --cyan: #2b8a90;

    /* cursor */
    /* --default: url('../public/images/misc-icons/cursor.svg'), auto;
    --pointer: url('../public/images/misc-icons/cursor.svg'), auto;
    --grab: url('../public/images/misc-icons/grab.svg'), auto;
    --grabbing: url('../public/images/misc-icons/grabbing.svg'), auto; */
    --default: default;
    --pointer: pointer;
    --grab: grab;
    --grabbing: grabbing;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 1920px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: "DOA-8Bit-Mage";
    background-color: var(--black);
    width: 100%;
    cursor: var(--default);
}

.App{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--purple-200);
    height: 100vh;
}

.transparent {
    color: transparent !important;
}
.hidden {
    display: none !important;
}