main {
    padding: 6rem 1rem 1rem;
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    position: relative;
}

.desktop-icon{
    color: var(--white);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 1rem 0.4rem;
    border: 0.2rem solid transparent;
    border-radius: 0.2rem;
}
.desktop-icon:hover{
    cursor: pointer;
    background-color: var(--salmon);
    border: 0.2rem solid var(--white);
}