main {
    padding: 0;
    max-height: 100vh;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
}

.desktop-icon{
    margin: 1rem;
    color: var(--white);
    font-size: 1.8rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 1rem 0.4rem;
    border: 0.2rem solid transparent;
    border-radius: 0.2rem;
}
.desktop-icon img{
    width: 10rem;
}
.desktop-icon:hover{
    cursor: var(--pointer);
    background-color: rgb(210, 192, 170, 0.5);
    border: 0.2rem solid var(--white);
}